* {
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/background.png');
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 80%;
    align-items: center;
}

.col {
    flex-basis: 50%;
}

.heading {
    text-shadow: 0px 1px 5px rgba(255, 255, 255, 0.5);
}

h1 {
    color: #fff;
    font-size: 100px;
}

.btn {
    background: transparent;
    border: 1px solid white;
    color: white;
    transition: 0.3s color ease;
}

.btn:hover {
    cursor: pointer;
    background: white;
    color: black;
    font-weight: 700;
}

p {
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}

button {
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card h5 {
    font-size: 1.5rem;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.card p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
}

.card1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('img/pic-1.png');
}

.card2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('img/pic-2.png');
}

.card3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('img/pic-3.png');
}

.card4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('img/pic-4.png');
}

.card:hover {
    transform: translateY(-10px);
}